.carousel{
   
    max-width: 500px;
    /* height: 80%; */
    margin: 30px auto 0;
 color: #000;
 
  


}
.test{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  background-color: #56b556;
  position: relative;
  margin: auto;
  line-height: center;
  border-radius: 25px;
  
  text-align: center;
  padding: 2rem 3rem;
}
 .control-arrow{
  height:500px;
  width:50px;
  border-radius: 25px;
  opacity:1;



 }