.userCard-container{
 width: 100%;
  /* flex-wrap: wrap; 
   justify-content: center;
  display: flex;
   */
    
}
.userCard-container h2 {
  text-align: center;
padding-top: 10px;;
}
.userCard-innerContainer{

  display: flex;
  flex-wrap: wrap;

}
@media screen and (max-width: 768px){
  .userCard-innerContainer {
    justify-content: center;
   
  }
  
}