.userCard-container{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
   
    
}
.userCard-innerContainer{

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px){
  .userCard-innerContainer {
    justify-content: center;
    width: 65%;
  }
  
}